---
layout: layouts/layout.njk
title: My Everyday Carry
---

<h1>My Everyday Carry Items</h1>

<ul class="items-list">
  <li><a class="item-button" href="/lip/">Lip Oil</a></li>
  <li><a class="item-button" href="/airpods/">AirPods</a></li>
  <li><a class="item-button" href="/wallet/">Wallet</a></li>
</ul>

