---
title: My Everyday Carry
layout: layouts/layout.njk
---

<h2>My 3 Everyday Carry Items</h2>

<ul class="items-list">
  <li><a class="item-button" href="/items/lip/">Lip Oil</a></li>
  <li><a class="item-button" href="/items/airpods/">AirPods</a></li>
  <li><a class="item-button" href="/items/wallet/">Wallet</a></li>
</ul>


